.box {
  h1 {
    color: blue;
    text-transform: capitalize;
  }
  p {
    color: gray;
  }
  input {
    text-transform: capitalize;
  }

  .list {
    /* background: #000; */
    /* color: white; */
    text-decoration: underline;
  }
}
